@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

#blog-intro {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Rajdhani';
    line-height: 9vh;
    padding: 5vh;
    text-align: center;
    margin: 13vh 0vh 0vh 0vh;
}

#blog-intro h1 {
    font-size: 7vh;
    margin: 0vh 2h 2vh 2vh;
}

#blog-intro h3 {
    font-size: 5vh;
    font-variant: small-caps;
    animation: spin 6s infinite ease;
}

#blog-intro img {
    height: 40vh;
    width: 40vh;
    margin: 0vh 3vh 0vh 3vh;
}

@keyframes spin {
    0%, 25% {
        transform: rotateY(0deg);
    }
    80%, 90% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(0deg);
    }
}

.create-box {
    background-color: rgb(253, 212, 168);
    margin: 16vh 19vh 10vh 19vh;
    padding: 4vh;
    text-align: center;
}

.create-box h2 {
    font-family: 'Rajdhani';
    font-size: 7vh;
    margin: 2vh;
    text-shadow: 1px 1px 20px rgba(147, 62, 2, 0.74);
}

.create-box h4 {
    font-size: 3vh;
    font-family: "Dosis";
    margin: 3vh;
}

.create-box input {
    height: 3vh;
    width: 20vw;
    text-align: center;
    padding: 1vh;
    border-radius: 1vh;
    border: none;
    box-shadow: 1px 1px 5px rgb(147, 62, 2);
}

.create-box textarea {
    padding: 1vh;
    border: none;
    border-radius: 1vh;
    box-shadow: 1px 1px 5px rgb(147, 62, 2);
}

.create-box h5 {
    font-size: 4vh;
    font-variant: small-caps;
    font-family: 'Dosis';
    margin: 3vh;
}

.create-box button {
    padding: 1vh 4vh 1vh 4vh;
    font-size: 2vh;
    border-radius: 0.6vh;
    border: 1px solid rgb(147, 62, 2);
    background-color: rgb(199, 107, 42);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.46);
}

.create-box button:hover {
    cursor: pointer;
    transform: scale(1.06);
    transition-duration: 0.5s;
    box-shadow: 0px 0px 15px rgba(249, 112, 33, 0.926);
}

.create-box button:not(:hover) {
    transition-duration: 0.8s;
}

#parent-stories {
    margin: 20vh;
    font-family: 'Dosis';
}

.post {
    margin: 10vh;
}

.post h3 {
    margin-bottom: 4vh;
    font-size: 4vh;
}

.post h4 {
    font-size: 2.5vh;
    margin-bottom: 2vh;
    font-family: 'Rajdhani';
}

#parent-stories span {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    margin-bottom: 2vh;
}

#parent-stories span img {
    height: 7vh;
    margin: 0vh 2vh 0vh 0vh;

}